/* @import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Share Tech Mono', monospace;
    font-size: 2.5rem;
}

body {
    min-height: 100vh;
    background-color: #000;
    color: whitesmoke;
    display: grid;
    place-content: center;
    padding: 1rem;
} */

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  color: black;
  padding: 20px 40px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav li {
  cursor: pointer;
  font-weight: 500;
}

nav li.active {
  color: green;
  text-decoration: underline;
}

.socials a {
  margin-left: 10px;
  color: black;
  text-decoration: none;
}

.hero {
  background-image: url('/images/5.webp');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero h1 {
  font-size: 4rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.5); /* fondo negro translúcido */
  padding: 0.5rem 1rem;
  border-radius: 5px;
  /* display: inline-block; */
}

.hero-content h5 {
  font-size: 16px;
  margin-bottom: 10px;
}

.hero-content h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

.btn {
  background: black;
  color: white;
  padding: 12px 25px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s;
}

.btn:hover {
  background: #444;
}

.services, .about, .booking {
  padding: 60px 40px;
  text-align: center;
  background: #f4f4f4;
  color: #333;
}

.services h2, .about h2, .booking h2 {
  font-size: 32px;
  margin-bottom: 30px;
}

.service-cards {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 280px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.about-content {
  max-width: 700px;
  margin: auto;
}

.booking form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
  gap: 15px;
}

.booking input, .booking button {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.booking button {
  background-color: black;
  color: white;
  cursor: pointer;
}

.booking button:hover {
  background-color: #444;
}

footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 20px;
}
