.descripcion {
display: flex;
align-items: center;
gap: 2rem;
padding: 2rem;
flex-wrap: wrap;
}

.imagen-descripcion {
width: 50%;
max-width: 500px;
border-radius: 8px;
object-fit: cover;
}

.texto-descripcion {
flex: 1;
text-align: center;
}

.texto-descripcion h2 {
font-size: 2.5rem;
font-weight: bold;
margin-bottom: 1rem;
color: #654522;
}

.texto-descripcion p {
font-size: 1.2rem;
line-height: 1.6;
color: #444;
}

.banners-maquillaje {
display: flex;
justify-content: center;
align-items: center;
gap: 1.5rem;
padding: 2rem;
flex-wrap: nowrap;
}

.banner-img {
width: 50%;
height: auto;
border-radius: 8px;
object-fit: cover;}